body {
	background-color: #fbf8ea;
}

 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1169px;
	 height: 2139px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1169px;
	 height: 2886px;
	 z-index:1;
} 

 #raldo 
{ 
	 left: 520px; 
	 top: 104px; 
	 position: absolute; 
	 width: 127px;
	 height: 124px;
	 z-index:2;
} 

 #ScreenShot20150224at 
{ 
	 left: 204px; 
	 top: 1706px; 
	 position: absolute; 
	 width: 282px;
	 height: 209px;
	 z-index:3;
} 

 #ScreenShot20150224at_0 
{ 
	 left: 201px; 
	 top: 1346px; 
	 position: absolute; 
	 width: 285px;
	 height: 284px;
	 z-index:4;
} 

 #ScreenShot20150224at_1 
{ 
	 left: 201px; 
	 top: 1001px; 
	 position: absolute; 
	 width: 287px;
	 height: 285px;
	 z-index:5;
} 

 #CoalLoremipsumdolors 
{ 
	 left: 592px; 
	 top: 635px; 
	 position: absolute; 
	 width: 506px;
	 height: 145px;
	 z-index:6;
} 

 #WunderkrammerLoremip 
{ 
	 left: 590px; 
	 top: 1001px; 
	 position: absolute; 
	 width: 506px;
	 height: 145px;
	 z-index:7;
} 

 #DebbieLoremipsumdolo 
{ 
	 left: 590px; 
	 top: 1346px; 
	 position: absolute; 
	 width: 506px;
	 height: 145px;
	 z-index:8;
} 

 #ThePainteddessertLor 
{ 
	 left: 590px; 
	 top: 1706px; 
	 position: absolute; 
	 width: 506px;
	 height: 145px;
	 z-index:9;
} 

 #ART 
{ 
	 left: 570px; 
	 top: 248px; 
	 position: absolute; 
	 width: 41px;
	 height: 16px;
	 z-index:10;
} 

 #ScreenShot20150219at 
{ 
	 left: 204px; 
	 top: 637px; 
	 position: absolute; 
	 width: 284px;
	 height: 284px;
	 z-index:11;
} 

 #ORIGINALSINLoremipsu 
{ 
	 left: 591px; 
	 top: 353px; 
	 position: absolute; 
	 width: 507px;
	 height: 144px;
	 z-index:12;
} 

 #ScreenShot20150219at_0 
{ 
	 left: 201px; 
	 top: 352px; 
	 position: absolute; 
	 width: 288px;
	 height: 213px;
	 z-index:13;
} 

 #products 
{ 
	 left: 0px;
	 top: 2001px; 
	 width: 117px;
	 height: 116px;
	 z-index:5;
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
} 

 #products-text 
{ 
	 left: 0px;
	 top: 1951px; 
	 width: 120px;
	 height: 16px;
	 z-index:5;
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
} 
