 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1169px;
	 height: 954px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #raldo 
{ 
	 left: 519px; 
	 top: 104px; 
	 position: absolute; 
	 width: 128px;
	 height: 124px;
	 z-index:1;
} 

 #products 
{ 
	 left: 528px; 
	 top: 248px; 
	 position: absolute; 
	 width: 72px;
	 height: 16px;
	 z-index:9;
} 

 #photo1 
{ 
	 left: 320px; 
	 top: 346px; 
	 position: absolute; 
	 width: 552px;
	 height: 552px;
	 z-index:2;
 	background-image: url("images/hatch.png");
	background-position: 50% 0%, center;
} 

 #Layer1 
{ 
	 left: 320px; 
	 top: 346px; 
	 position: absolute; 
	 width: 552px;
	 height: 552px;
	 z-index:3;
	 background-color: #fff54d;
	 opacity: 0.7;
} 

 #art 
{ 
	 left: 890px; 
	 top: 800px; 
	 position: absolute; 
	 width: 73px;
	 height: 96px;
	 z-index:4;
} 

 #art img.text
{ 
	 left: 40px; 
	 top: 90px; 
	 position: absolute; 
} 

 #lights 
{ 
	 left: 225px; 
	 top: 530px; 
	 position: absolute; 
	 width: 254px;
	 height: 74px;
	 z-index:5;
} 

 #lights img.text
{ 
	 left: 30px; 
	 position: absolute; 
} 

 #ceramics 
{ 
	 left: 650px; 
	 top: 670px; 
	 position: absolute; 
	 width: 138px;
	 height: 56px;
	 z-index:6;
} 

 #ceramics img.text
{ 
	 right: 15px; 
	 position: absolute; 
} 

 #archi 
{ 
	 left: 800px; 
	 top: 370px; 
	 position: absolute; 
	 width: 52px;
	 height: 67px;
	 z-index:7;
} 

 #archi img.text
{ 
	 left: -30px; 
	 position: absolute; 
} 

.hover img.icon {
	opacity: 1;
}

.hover:hover img.icon {
	opacity: 0.5;
}

.hover img.text {
	display: none;
	top: 100%;
}

.hover:hover img.text {
	display: inline;
}
