 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1169px;
	 height: 1654px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #raldo 
{ 
	 left: 519px; 
	 top: 200px; 
	 position: absolute; 
	 width: 128px;
	 height: 124px;
	 z-index:1;
} 

 #products 
{ 
	 left: 528px; 
	 top: 348px; 
	 position: absolute; 
	 width: 72px;
	 height: 16px;
	 z-index:9;
} 

 #photo1 
{ 
	 left: 205px; 
	 top: 506px; 
	 position: absolute; 
	 width: 808px;
	 height: 811px;
	 z-index:2;
 	background-image: url("images/hatch.png");
	background-position: 50% 0%, center;
} 

 #Layer1 
{ 
	 left: 202px; 
	 top: 506px; 
	 position: absolute; 
	 width: 811px;
	 height: 811px;
	 z-index:3;
	 background-color: #fff54d;
	 opacity: 0.7;
} 

 #art 
{ 
	 left: 961px; 
	 top: 1538px; 
	 position: absolute; 
	 width: 73px;
	 height: 96px;
	 z-index:4;
} 

 #lights 
{ 
	 left: 119px; 
	 top: 770px; 
	 position: absolute; 
	 width: 254px;
	 height: 74px;
	 z-index:5;
} 

 #ceramics 
{ 
	 left: 497px; 
	 top: 1258px; 
	 position: absolute; 
	 width: 138px;
	 height: 56px;
	 z-index:6;
} 

 #archi 
{ 
	 left: 915px; 
	 top: 535px; 
	 position: absolute; 
	 width: 52px;
	 height: 67px;
	 z-index:7;
} 
